{% extends 'base.html' %}

{% block title %} Добавление файла клиента {% endblock %}

{% block content %}
<div class="container text-white">
    <div class="border-bottom border-info">
        <h1 class="display-6 text-center">Новый файл клиента</h1>
    </div>
    <div class="container w-50 mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container border-top text-center border-info">
                <input type="submit" class="btn btn-outline-success btn-lg mt-4 w-50" value="Добавить">
            </div>
        </form>
    </div>
</div>
{% endblock %}