{% extends 'base.html' %}

{% block title %} Клиенты {% endblock %}

{% block content %}
<div class="container text-white border-info">
    <div class="border-bottom border-info">
        <h1 class="display-6 mb-3">
            Клиенты
            {% if request.user.is_staff %}
            | <a href="{% url 'client_create' %}" class="btn btn-outline-info btn-lg text-end">Добавить клиента</a>
            {% endif %}
        </h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            {% for client in clients %}
            <div class="col">
                <div class="card h-100 bg-dark border border-info rounded">
                    <div class="card-title text-center">
                        <h3>{{ client.name }}</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Сайт: {{ client.site }}</li>
                            <li>Email: {{ client.email }}</li>
                            <li>Телефон: {{ client.phone }}</li>
                            <li>Количество контактных лиц;</li>
                            <li>Количество договоров;</li>
                            <li>Количество оборудования.</li>
                        </ul>
                    </div>
                    {% if request.user.is_staff %}
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <a href="" class="btn btn-info w-100">Редактировать</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}