{% extends 'base.html' %}
{% load stuff_tags %}

{% block title %} Контактное лицо | {{ contact_person.get_full_name }} {% endblock %}

{% block content %}
<div class="container text-white w-50">
    <div class="row mt-3">
        <div class="col-4 border border-info rounded">
            <div class="border-bottom border-info mt-3 text-center">
                <h1 class="fs-3">{{ contact_person.get_full_name }}</h1>
            </div>
            <div class="container text-center mt-4 mb-3 d-flex flex-column">
                <a href="{% url 'cp_update' contact_person.pk %}" class="btn btn-outline-secondary btn-lg w-100">Редактировать</a>
                <br>
                <button class="btn btn-outline-danger btn-lg w-100" data-bs-toggle="modal" data-bs-target="#delete_cp{{ contact_person.pk }}">Удалить контактное лицо</button>

                <!-- Modal Delete -->
                    <div class="modal modal-alert" tabindex="-1" role="dialog" id="delete_cp{{ contact_person.pk }}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content rounded-4 shadow bg-info text-dark">
                                <div class="modal-body p-4 text-center">
                                    <h5 class="mb-0">Вы действительно хотите удалить контактное лицо {{ contact_person.get_full_name }} из системы?</h5>
                                </div>
                                <div class="modal-footer flex-nowrap p-0 border-top border-dark text-dark">
                                    <a type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" href="{% url 'cp_delete' contact_person.pk %}">Yes</a>
                                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-left border-left-dark" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Modal Delete -->

            </div>
        </div>
        <div class="col border border-info rounded ms-3">
            <div class="container border-bottom border-info text-center">
                <h1 class="fs-1">
                    Основная информация
                </h1>
            </div>
            <div class="text-white container">
                <p class="fs-2">Фамилия: {{ contact_person.first_name }}</p>
                <p class="fs-2">Имя: {{ contact_person.second_name }}</p>
                <p class="fs-2">Отчество: {{ contact_person.last_name }}</p>
                <p class="fs-2">Должность: {{ contact_person.post }}</p>
                <p class="fs-2">Email: {{ contact_person.email }}</p>
                <p class="fs-2">Телефон: {{ contact_person.phone }}</p>
                {% if contact_person.note != '' %}
                <h1 class="fs-2 border-top border-info">Об контактном лице:</h1>
                <p class="fs-2">{{ contact_person.note }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}