{% extends 'base.html' %}
{% load main_app_tags %}

{% block title %} {{ application.subject }} {% endblock %}

{% block content %}
<div class="container text-white w-50">
    <div class="row mt-3">
        <div class="col-4 border border-info rounded">
            <div class="border-bottom border-info mt-3 text-center">
                <h1 class="fs-3"><span class="badge bg-info rounded-circle mt-2">#{{ application.pk }}</span> {{ application.subject }}</h1>
            </div>
            <div class="border-bottom border-info mt-3 text-start">
                <p class="fs-3">Тип: {{ application.type|type_application_translate }}</p>
                <p class="fs-3">Приоритет: {{ application.priority|priority_application_translate }}</p>
                <p class="fs-3">Статус: {{ application.status|status_application_translate }}</p>
                <p class="fs-3">Дедлайн: {{ application.deadline }}</p>
                {% if application.closing_date %}
                <p class="fs-3">Завершена: {{ application.closing_date }}</p>
                {% endif %}
                <p class="fs-3">
                    Исполнитель:
                    {% if application.executor %}
                    <a href="{{ application.executor.get_absolute_url }}">{{ application.executor.get_full_name }}</a>
                    {% else %}
                    -
                    {% endif %}
                </p>
            </div>
            <div class="container text-center mt-4 mb-3 d-flex flex-column">
                <a href="" class="btn btn-outline-secondary btn-lg w-100">Редактировать</a>
                <br>
                {% if user.is_staff or user.role == 'dispatcher' %}
                <a class="btn btn-outline-secondary btn-lg w-100" href="" data-bs-toggle="modal" data-bs-target="#select_executor">Назначить/Переназначить исполнителя</a>
                <br>
                {% endif %}

                <!-- Modal Executors -->
                <div class="modal fade" id="select_executor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-transparent border">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="exampleModalLabel">Выберите исполнителя для заявки</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'set_application_executor' application.slug %}" method="get" id="select_executor_form">
                                    <select name="executor" class="form-control" id="id_executor">
                                        <option value="" selected="">---------</option>
                                        {% for executor in executors %}
                                        <option value="{{ executor.pk }}">{{ executor.get_full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                {% if application.executor %}
                                <input form="select_executor_form" type="submit" class="btn btn-outline-success text-center btn-lg" value="Переназначить">
                                {% else %}
                                <input form="select_executor_form" type="submit" class="btn btn-outline-success text-center btn-lg" value="Назначить">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Executors -->
                <a href="" class="btn btn-outline-secondary btn-lg w-100">Добавить файл</a>
                <br>
                <button class="btn btn-outline-danger btn-lg w-100" data-bs-toggle="modal" data-bs-target="#delete_application{{ application.pk }}">Удалить заявку</button>

                <!-- Modal Delete -->
                    <div class="modal modal-alert" tabindex="-1" role="dialog" id="delete_application{{ application.pk }}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content rounded-4 shadow bg-info text-dark">
                                <div class="modal-body p-4 text-center">
                                    <h5 class="mb-0">Вы действительно хотите удалить заявку {{ application.subject }} клиента {{ application.client.name }} из системы?</h5>
                                </div>
                                <div class="modal-footer flex-nowrap p-0 border-top border-dark text-dark">
                                    <a type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" href="">Yes</a>
                                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-left border-left-dark" data-bs-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Modal Delete -->
            </div>
        </div>
        <div class="col border border-info rounded ms-3">
            <div class="container border-bottom border-info text-center">
                <h1 class="fs-1">
                    Основная информация
                    <a href="" class="btn btn-outline-info disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                    </a>
                </h1>
            </div>
            <div class="text-white container">
                <div class="container border-bottom border-info">
                    <h1 class="fs-1">Данные клиента</h1>
                    <p class="fs-2">Клиент: <a href="{{ application.client.get_absolute_url }}">{{ application.client.name }}</a></p>
                    <p class="fs-2">Контакт: <a href="{{ application.contact_person.get_absolute_url }}">{{ application.contact_person.get_full_name }}</a></p>
                    <p class="fs-2">Договор: <a href="{{ application.contract.get_absolute_url }}">{{ application.contract.title }}</a></p>
                    <p class="fs-2">Оборудование:</p>
                    <ul>
                        {% for eq in application.equipment.all %}
                            <li class="fs-2">
                                <a href="{{ eq.get_absolute_url }}">{{ eq.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if application.description != '' %}
                <div class="container">
                    <h1 class="fs-1">Описание заявки:</h1>
                    <p class="fs-2">{{ application.description }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container border-bottom border-info text-center">
            <h1 class="fs-1">Комментарии заявки</h1>
        </div>
        <div class="container w-75">
            {% if application.comments %}
            {% for comment in application.comments.all %}
            {% if comment.is_private and user.is_staff %}
            <div class="border border-info rounded mt-3 mb-3">
                <p class="fs-5 ms-2">{{ comment.comment_body }}</p>
                {% if comment.file %}
                <p class="ms-2">
                    <a href="{{ comment.file.url }}" class="btn btn-outline-info btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                            <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                        </svg>
                        {{ comment.filename }}
                    </a>
                </p>
                {% endif %}
                <p class="ms-2">{{ comment.created_at }}</p>
            </div>
            {% elif comment.is_public %}
            <div class="border border-info rounded mt-3 mb-3">
                <p class="fs-5 ms-2">{{ comment.comment_body }}</p>
                {% if comment.file %}
                <p class="ms-2">
                    <a href="{{ comment.file.url }}" class="btn btn-outline-info btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                            <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
                        </svg>
                        {{ comment.filename }}
                    </a>
                </p>
                {% endif %}
                <p class="ms-2">{{ comment.created_at }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h1 class="fs-1 text-center mt-3 mb-3">У данной заявки нет комментариев</h1>
            {% endif %}
        </div>
        <div class="container border-top border-info">
            <form method="post" class="mt-5" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card w-100 bg-dark border border-info rounded text-white">
                    <div class="card-title">
                        <h1 class="fs-3 text-center mt-3">Оставить комментарий к заявке</h1>
                        <p class="text-danger">{{ form.non_field_errors }}</p>
                    </div>
                    <div class="card-body">
                        {{ form.comment_body }}
                    </div>
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-sm">
                                {{ form.is_private.label }}
                                {{ form.is_private }}
                                <br>
                                {{ form.is_public.label }}
                                {{ form.is_public }}
                            </div>
                            <div class="col-sm">
                                {{ form.file }}
                            </div>
                            <div class="col-sm">
                                <input type="submit" class="btn btn-outline-success" value="Отправить">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}