{% extends "stuff_app/auth_page_base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
        <h1 class="display-3 text-info">Application Accounting<br>System</h1>
    </div>
    <br>
    <div class="container text-white w-25 rounded border border-info">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <li class="text-danger" > {{ message }} </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        <form role="search" method="post" class="mt-2">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container text-center border-top border-info">
                <input type="submit" class="btn btn-outline-info btn-lg mt-3 mb-2 w-50" value="Войти">
                <br>
                <a href="{% url 'password_reset' %}" class="mt-3 text-decoration-none text-white">Забыл пароль</a>
            </div>
        </form>
    </div>
    <br>
    <div class="container text-center w-25">
        <p class="text-muted">@acclrtrrr</p>
    </div>
</div>
{% endblock %}